@charset "utf-8";

// Third Party Libraries
@import "node_modules/reset-css/_reset";

// Variables
$text-color: #212121;
$white: #e9e9e9;
$light-gray-background: #F5F5F5;
$gray-background: #535353;
$separator-color: #CDCDCD;
$gutter: 30px;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: $text-color;

  &:visited {
    color: $text-color;
  }
}

h1, h2 {
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 38px;
  margin-bottom: 40px;
}

h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

img {
  max-width: 100%;
}

.text-center {
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.button {
  border: 1px solid $text-color;
  padding: 12px 40px;

  &:hover {
    color: $white;
    background: $text-color;
  }
}

.button-white {
  border: 1px solid $white;
  color: $white !important;

  &:hover {
    color: $text-color !important;
    background: $white;
  }
}

.section-description {
  width: 80%;
  margin: auto;
}

.button-container {
  margin: 80px 0;
}

header {
  background: url('/img/triangles.svg');
  background-size: cover;
  color: white;

  .top-nav {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;

    .logo {
      font-weight: bold;
      font-size: 28px;
    }

    ul {
      display: flex;
      text-transform: uppercase;
      justify-content: space-between;
      width: 40%;

      a {
        color: $white;
        &:hover {
          color: darken($white, 10%);
        }
      }
    }
  }
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: $gutter;
  padding-top: 20px;
  padding-bottom: 84px;

  .hero-image {
    padding-left: 60px;
  }

  h1 {
    font-size: 52px;
    margin-top: 50px;
  }

  p {
    margin: 40px 0 68px;
  }

  .button {
    margin-right: 14px;
  }
}

.featured-section {
  padding: 50px 0;

  .products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: $gutter;
  }
}

.blog-section {
  background: $light-gray-background;
  border-top: 1px solid $separator-color;
  padding: 50px 0;

  .blog-posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr); // 1fr 1fr 1fr
    grid-gap: $gutter;
    margin: 60px 0 60px;
    grid-template-areas:
    "blog1 blog2 blog3";

    #blog1 {
      grid-area: blog1;
    }

    #blog2 {
      grid-area: blog2;
    }

    #blog3 {
      grid-area: blog3;
    }
  }
}

footer {
  background: $gray-background;
  color: $white;
  padding: 40px 0;

  .footer-content {
    display: flex;
    justify-content: space-between;

    ul {
      display: flex;
      justify-content: space-between;
      width: 30%;

      a {
        color: $white;
      }
    }
  }
}
